.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

project.lock.json
project.fragment.lock.json
artifacts/

.idea/
.vscode/

*.nupkg
*.snupkg
.nuget/

*.log

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

appsettings.Development.json
appsettings.Local.json

publish/

TestResults/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.mdf
*.ldf

secrets.json
