services:

  db:
    image: postgres:15
    container_name: monitoring-db
    environment:
      POSTGRES_DB: "device_sessions"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - application
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d device_sessions"]
      interval: 5s
      timeout: 5s
      retries: 5

  monitoringservice.api:
    image: monitoring-service-api
    container_name: monitoring-api
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - application

networks:
  application:
    driver: bridge

volumes:
  postgres_data: